@page
@model ZL.Poem.WebApi.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<ul>
    @foreach (var item in Model.Categories.Items)
    {
        <li>@item.CategoryName</li>
    }

</ul>
